<% layout("layout/boilerplate") -%>
<div class="col-6 offset-3">
  <h1 class="text-center">Add book</h1>
  <form
    class="form-control py-4 needs-validation"
    action="/books"
    method="post"
    novalidate
  >
    <div class="mt-2">
      <label for="title" class="form-label">Title </label> <br />
      <input
        type="text"
        name="title"
        id="title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please enter a title</div>
    </div>
    <section class="mt-2">
      <label for="author" class="form-label">Author </label> <br />
      <input
        type="text"
        name="author"
        id="author"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please provide the name of the author</div>
    </section>
    <section class="mt-2">
      <label for="numOfPages" class="form-label">Number of pages: </label>
      <br />
      <input
        type="number"
        name="numOfPages"
        id="numOfPages"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        Please provide the number of pages the books has
      </div>
    </section>
    <section class="mt-2">
      <label for="synopsis" class="form-label">What is the book about? </label>
      <br />
      <textarea
        name="synopsis"
        id="synopsis"
        rows="5"
        cols="30"
        class="form-control"
        required
      ></textarea>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please describe what the book is about</div>
    </section>
    <section class="mt-2">
      <label for="imgUrl" class="form-label">Book cover url: </label> <br />
      <input
        type="text"
        name="imgUrl"
        id="imgUrl"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        Please enter the url for the book cover image
      </div>
    </section>
    <section class="mt-2">
      <label for="category" class="form-label">Select a category:</label> <br />
      <select name="category" id="category" class="form-select" required>
        <% for(let c of categories) {%>
        <option value="<%= c %>"><%= c %></option>
        <% } %>
      </select>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">
        Please select the category the book belongs to
      </div>
    </section>
    <br />
    <button class="btn btn-success">Add</button> &nbsp;
    <a class="btn btn-danger" href="/books">Cancel</a>
  </form>
</div>
