<% layout("layout/boilerplate") -%>
<h1 class="text-center">Welcome to e-Lib!</h1>
<h2 class="text-center">
  The largest collection of book information in the world.
</h2>
<h2 class="text-center">Feel free to look around.</h2>
<img
  class="img-fluid"
  src="https://images.unsplash.com/photo-1536965764833-5971e0abed7c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  alt=""
/>
